@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(15, 15, 15);
  color: antiquewhite;
}

header {
  color: antiquewhite;
  padding: 24px 0;
  width: 100%;
}

p {
  color: rgb(165, 165, 165);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 840px;
  margin: 0 auto;
  padding: 0px 20px;
}

.nav-ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.nav-li {
  transition: 0.2s ease-in-out;
}

.nav-li:hover {
  color: rgb(183, 40, 50);
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  color: rgb(183, 40, 50);
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-home {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.weekly {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.recommendation-h2-img {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
}

.recommendation-paragraph {
  line-height: 1.4;
}

.slasher-paragraph {
  font-style: italic;
}

.recommendation-p-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommendation-h3-p {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recommendation-img {
  width: 40%;
  transition: 0.5s;
}

.recommendation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommendation-link {
  border-bottom: 1px solid antiquewhite;
  padding-bottom: 2px;
  transition: 0.2s ease-in-out;
}

.recommendation-link:hover {
  color: rgb(183, 40, 50);
}

.section-films {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.films-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
}

.films-resume {
  display: flex;
  flex: 1;
  position: relative;
  border-radius: 6px;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}

.films-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: inherit;
}

.films-resume-hover {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.films-resume-hover-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: antiquewhite;
}

.films-resume:hover .films-resume-hover {
  opacity: 1;
}

.films-resume:hover .films-img {
  opacity: 20%;
}

.films-resume:hover {
  border-color: brown;
}

.films-more {
  align-self: flex-end;
  color: antiquewhite;
  cursor: pointer;
  border-bottom: 1px solid antiquewhite;
  padding-bottom: 2px;
}

.films-more:hover {
  color: rgb(183, 40, 50);
  transition: 0.2s ease-in-out;
}

.analysis-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section-analysis {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.analysis-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 40%;
  gap: 22px;
}

.analysis-card-titles {
  color: rgb(183, 40, 50);
}

.analysis-link {
  color: antiquewhite;
  border-bottom: 1px solid antiquewhite;
  width: fit-content;
  cursor: pointer;
  font-size: 11px;
}

.sections-vertical {
  max-width: 840px;
  margin: 0 auto;
  padding: 0px 20px;
}

footer {
  background-color: rgb(21, 21, 21);
  color: antiquewhite;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

footer span {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
}
