.main-sign-up {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.section-register {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color-scheme: dark;
}

.register-form-data-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.register-form-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 40%;
}

.register-textarea-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 35%;
}
.register-form-input {
  color: antiquewhite;
  background-color: transparent;
  padding: 16px;
  border: solid 1px antiquewhite;
  border-radius: 6px;
}

.register-form-select-subgenre {
  color: antiquewhite;
  background-color: transparent;
  padding: 16px;
  border: solid 1px antiquewhite;
  border-radius: 6px;
}

.register-form-select-subgenre:focus {
  background-color: rgb(15, 15, 15);
}

.register-form-textarea {
  color: antiquewhite;
  background-color: transparent;
  padding: 16px;
  border: solid 1px antiquewhite;
  border-radius: 6px;
  height: 265px;
}

.register-form-button-container {
  display: flex;
  gap: 20px;
}

.register-form-button-container button {
  color: antiquewhite;
  background-color: rgba(183, 40, 50, 0.678);
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .register-form-data-container {
    flex-direction: column;
  }
}
