header {
  color: antiquewhite;
  padding: 24px 0;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 840px;
  margin: 0 auto;
  padding: 0px 20px;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-li {
  transition: 0.2s ease-in-out;
}

.nav-li:hover {
  color: rgb(183, 40, 50);
}

.search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sign-up-button {
  color: antiquewhite;
  background-color: rgba(183, 40, 50, 0.678);
  font-weight: 600;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.sign-up-button:hover {
  color: antiquewhite;
}

.nav-active {
  color: rgb(183, 40, 50);
}

.footer--alt {
  position: fixed;
  bottom: 0;
}
