.main-films {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.section-new-releases {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.section-all-films {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.all-films-title-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.add-film-button {
  color: antiquewhite;
  background-color: rgba(183, 40, 50, 0.678);
  font-weight: 600;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.add-film-form {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  transform-origin: 160px 5px;
  top: 33px;
  z-index: 30;
  scale: 0;
  transition: 0.5s;
  width: 228px;
  height: auto;
  gap: 16px;
  padding: 12px;
  background-color: #121212;
  border: 1px solid #faebd76b;
  border-radius: 6px;
}

.add-film-form--active {
  scale: 1;
}

.add-film-form-input {
  color: antiquewhite;
  background-color: transparent;
  padding: 7px;
  border: solid 1px #faebd76b;
  border-radius: 6px;
}

.add-film-form-input--invalid {
  border: 1px solid rgba(183, 40, 50, 0.678);
}

.add-film-form-button {
  color: antiquewhite;
  background-color: rgba(183, 40, 50, 0.678);
  font-weight: 600;
  padding: 7px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.new-releases-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
}

.new-releases-resume {
  display: flex;
  flex: 1;
  position: relative;
  transition: 0.4s outline ease-in-out;
  border-radius: 6px;
  outline: 3px solid transparent;
}

.new-releases-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  z-index: 10;
}

.all-films-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 24px;
}

.all-films-resume {
  display: flex;
  flex: 1;
  position: relative;
  transition: 0.4s outline ease-in-out;
  border-radius: 6px;
  outline: 3px solid transparent;
}

.all-films-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  z-index: 10;
}

.all-films-hover {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.new-releases-hover-paragraph {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: antiquewhite;
}

.all-films-hover-paragraph {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: antiquewhite;
}
