.footer {
  background-color: #121212;
  color: antiquewhite;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

.footer span {
  display: block;
  max-width: 840px;
  margin: 0 auto;
  padding: 0px 20px;
}
