.section-popular-directors {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.director-popular-container {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
}

.director-popular {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  column-gap: 50px;
}

.director-popular-img-container {
  min-width: 40%;
  height: 500px;
  z-index: -1;
  position: relative;
  background-color: rgb(100 2 9);
  border-radius: 6px;
}

.director-popular-img {
  mask-image: linear-gradient(black, transparent),
    linear-gradient(to right, black, transparent),
    linear-gradient(to left, black, transparent),
    linear-gradient(to top, black, transparent);
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.director-popular--row {
  flex-direction: row-reverse;
}

.director-popular-name-director {
  font-size: 16px;
}

.director-popular-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.director-popular-paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popular-movies-directors-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.popular-movies-directors-li {
  font-weight: 550;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popular-movies-directors-title {
  text-align: center;
}

.popular-movies-directors-star-icon {
  width: 22px;
}

.line-separator {
  width: 70%;
  height: 0.1px;
  background-color: #f0f8ff0d; 
  margin: 0 auto; /
}
