.film-card-resume {
  display: flex;
  flex: 1;
  position: relative;
  transition: 0.4s outline ease-in-out;
  border-radius: 6px;
  outline: 3px solid transparent;
}

.film-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  z-index: 10;
}

.film-card-resume-hover {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.film-card-resume-hover-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: antiquewhite;
}
