@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(15, 15, 15);
  color: antiquewhite;
}

.main-global {
  padding-top: 80px;
  padding-bottom: 80px;
}

p {
  color: rgb(165, 165, 165);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

strong {
  color: rgb(183, 40, 50);
}

.sections-vertical {
  max-width: 840px;
  margin: 0 auto;
  padding: 0px 20px;
}

.film-container-hover:hover .hover--opacity {
  opacity: 1;
}

.film-container-hover:hover .film-card-img-hover {
  opacity: 20%;
}

.film-container-hover:hover {
  border-radius: 6px;
  outline: 3px solid rgb(183, 40, 50);
}

.arrow-icon-container {
  display: flex;
  gap: 8px;
}

.arrow-icon {
  cursor: pointer;
}

.arrow-icon.alternative {
  transform: rotate(180deg);
}

@media (max-width: 720px) {
  .weekly {
    flex-direction: column;
  }

  .recommendation-img {
    width: 100%;
  }

  .recommendation-p-nav {
    row-gap: 16px;
  }

  .popular-films-section {
    grid-template-columns: repeat(auto-fit, minmax(117px, 1fr));
  }

  .director-popular {
    flex-direction: column;
  }

  .list-link {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(76px, 1fr));
  }

  .list-img {
    flex: 1;
    width: 100%;
    margin: auto;
  }
}
