.popular-list-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list-link {
  display: flex;
  padding-left: 2rem;
}

.all-list-text-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.trending-list-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.list-paragraph {
  font-size: 14px;
}
