.section-home {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.main-home {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.weekly {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.recommendation-h2-img {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
}

.recommendation-paragraph {
  line-height: 1.4;
}

.slasher-paragraph {
  font-style: italic;
}

.recommendation-p-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommendation-h3-p {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recommendation-img {
  width: 40%;
  transition: 0.5s;
}

.recommendation-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommendation-link {
  border-bottom: 1px solid antiquewhite;
  padding-bottom: 2px;
  font-weight: 550;
}

@media (max-width: 720px) {
  .weekly {
    flex-direction: column;
  }

  .recommendation-img {
    width: 100%;
  }

  .recommendation-p-nav {
    row-gap: 16px;
  }
}
